In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:

floor_2 = pd.read_csv('merged_all_2F.csv', index_col = 'Unnamed: 0')
floor_3 = pd.read_csv('merged_all_3F.csv', index_col = 'Unnamed: 0')
floor_4 = pd.read_csv('merged_all_4F.csv', index_col = 'Unnamed: 0')

In [3]:
floor_2 = floor_2.drop(['Unnamed: 0.1', 'Unnamed: 0.1.1'], axis = 1)
floor_3 = floor_3.drop(['Unnamed: 0.1'], axis = 1)
floor_4 = floor_4.drop(['Unnamed: 0.1'], axis = 1)

In [4]:
floor_2['floor'] = 2
floor_3['floor'] = 3
floor_4['floor'] = 4

In [5]:
#floor_2.head()

In [6]:
combined_floors = pd.concat([floor_2, floor_3, floor_4]).reset_index(drop = True)
combined_floors['time_transformed'] = combined_floors['time'].apply(lambda x: pd.Timestamp(x))

In [7]:
dates = combined_floors['time_transformed'].transform(lambda x: x.date)

In [8]:
#testing grounds

In [9]:
df = combined_floors

In [10]:
df['time'] = pd.to_datetime(df['time'], format='%Y-%m-%d %H:%M:%S')
df['year'] = df['time'].dt.year
df['hour'] = df['time'].dt.hour
df['month'] = df['time'].dt.month
df['day'] = df['time'].dt.day
df['minute'] = df['time'].dt.minute
df['second'] = df['time'].dt.second
df['weekday'] = df['time'].dt.weekday

In [11]:
df = df[['Common Setpoint','Actual Sup Flow SP','Zone Temperature',\
                  'Actual Supply Flow','energy','Humidity', 'Outside Air Temp',\
                  'year','day','hour','weekday','month','minute','second','floor']]
#[['Common Setpoint','Actual Sup Flow SP','Zone Temperature','Actual Supply Flow','energy','Humidity', 'Outside Air Temp','year','day','hour','weekday','month','minute','second','floor']]

In [12]:
trainstart = df[:len(df)//2]
teststart = df[len(df)//2:]

In [13]:
train = trainstart
test = teststart

In [14]:
train.head()

,Common Setpoint,Actual Sup Flow SP,Zone Temperature,Actual Supply Flow,energy,Humidity,Outside Air Temp,year,day,hour,weekday,month,minute,second,floor
0,72.5,330.0,75.2,318.73,10.109642,56.0,68.44,2018,3,20,2,1,57,39,2
1,72.5,330.0,75.2,317.06,10.113301,56.0,68.50,2018,3,21,2,1,4,13,2
2,72.5,330.0,75.7,314.34,10.099466,56.0,68.25,2018,3,21,2,1,10,44,2
3,72.5,330.0,75.7,313.91,10.241028,56.0,68.31,2018,3,21,2,1,17,16,2
4,72.5,330.0,75.7,318.31,10.187620,57.0,68.44,2018,3,21,2,1,23,44,2

In [22]:
from sklearn import tree
from sklearn import preprocessing
from sklearn import utils
from sklearn.metrics import mean_squared_error
clf = tree.DecisionTreeRegressor(max_depth = 7, min_samples_split = 5)

In [23]:
Xtrain = train.drop(columns=['energy'])
Ytrain = train[['energy']]
Xtest = test.drop(columns=['energy'])
Ytest = test[['energy']]

clf = clf.fit(Xtrain, Ytrain)
y_pred = clf.predict(Xtrain)
mean_squared_error(Ytrain,y_pred)

2.166238732802376

In [24]:
y_pred = clf.predict(Xtest)
mean_squared_error(Ytest,y_pred)

3.508595405210588

In [18]:
#3.5085954052105865